:root {
    --color-white: #fafafa;
    --color-black: #050505;
    --color-black-light: #383838;
    --color-grey: #5f5f5f;
    --color-grey-secondary: #595959;
    --color-grey-light: #eeeeee;
    --color-gold: #ffbe4c;
    --color-white: #e5e5e5;
    --color-orange: #fe4800;
}